.productdisplay {
  display: flex;
  margin: 0px 170px;
}
.productdisplayLeft {
  gap: 17px;
  display: flex;
}
.productdisplayImgList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productdisplayImgList img {
  height: 163px;
}
.productdisplayMainImg {
  width: 586px;
  height: 700px;
}
.productdisplayRight {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.productdisplayRight h1 {
  color: #3d3d3d;
  font-weight: 40px;
  font-weight: 700;
}
.productdisplayRightStar {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.productdisplayRightPrices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.productdisplayRightPriceOld {
  color: #818181;
  text-decoration: line-through;
}
.productdisplayRightPriceNew {
  color: #ff4141;
}
.productdisplayRightSize h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}
.productdisplayRightSizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}
.productdisplayRightSizes div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}
.productdisplayRight button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.productdisplayRightCategory {
  margin-top: 10px;
}
.productdisplayRightCategory span {
  font-weight: 600;
}
